# Core
django==4.2.9
python-dotenv==1.0.1
str2bool==1.1

# UI & Admin UI
django-jazzmin==3.0.1
django-admin-volt==1.0.17

# Tools
djangorestframework==3.15.2
requests==2.32.3

# CLI dependencies (needed by apps/dyn_dt and apps/dyn_api)
astor==0.8.1
graphviz==0.20.3

# Deployment
whitenoise==6.7.0
gunicorn==23.0.0

# DB
psycopg2-binary==2.9.9
django-dbbackup==4.2.1
